
*.xml
.idea/workspace.xml
/out/production/ATP-Project-PartB/algorithms/maze3D/AMaze3DGenerator.class
/out/production/ATP-Project-PartB/algorithms/mazeGenerators/AMazeGenerator.class
/out/production/ATP-Project-PartB/algorithms/search/ASearchingAlgorithm.class
/out/production/ATP-Project-PartB/algorithms/search/AState.class
/out/production/ATP-Project-PartB/algorithms/search/BestFirstSearch.class
/out/production/ATP-Project-PartB/algorithms/search/BreadthFirstSearch.class
/out/production/ATP-Project-PartB/Client/Client.class
/out/production/ATP-Project-PartB/config.properties
/out/production/ATP-Project-PartB/Server/Configurations.class
/out/production/ATP-Project-PartB/algorithms/search/DepthFirstSearch.class
/out/production/ATP-Project-PartB/algorithms/mazeGenerators/EmptyMazeGenerator.class
/out/production/ATP-Project-PartB/test/GeneralCheckingFunctions.class
/out/production/ATP-Project-PartB/Client/IClientStrategy.class
/out/production/ATP-Project-PartB/algorithms/mazeGenerators/IMazeGenerator.class
/out/production/ATP-Project-PartB/algorithms/maze3D/IMazeGenerator3D.class
/out/production/ATP-Project-PartB/algorithms/search/ISearchable.class
/out/production/ATP-Project-PartB/algorithms/search/ISearchingAlgorithm.class
/out/production/ATP-Project-PartB/Server/IServerStrategy.class
/out/production/ATP-Project-PartB/META-INF/MANIFEST.MF
/out/production/ATP-Project-PartB/algorithms/mazeGenerators/Maze.class
/out/production/ATP-Project-PartB/algorithms/maze3D/Maze3D.class
/out/production/ATP-Project-PartB/algorithms/maze3D/Maze3DState.class
/out/production/ATP-Project-PartB/algorithms/search/MazeState.class
/out/production/ATP-Project-PartB/IO/MyCompressorOutputStream.class
/out/production/ATP-Project-PartB/IO/MyDecompressorInputStream.class
/out/production/ATP-Project-PartB/algorithms/maze3D/MyMaze3DGenerator.class
/out/production/ATP-Project-PartB/algorithms/mazeGenerators/MyMazeGenerator.class
/out/production/ATP-Project-PartB/algorithms/mazeGenerators/Position.class
/out/production/ATP-Project-PartB/algorithms/maze3D/Position3D.class
/out/production/ATP-Project-PartB/test/RunCommunicateWithServers.class
/out/production/ATP-Project-PartB/test/RunCompressDecompressMaze.class
/out/production/ATP-Project-PartB/test/RunMaze3DGenerator.class
/out/production/ATP-Project-PartB/test/RunMazeGenerator.class
/out/production/ATP-Project-PartB/test/RunSearchOnMaze.class
/out/production/ATP-Project-PartB/test/RunSearchOnMaze3D.class
/savedMaze.maze
/out/production/ATP-Project-PartB/algorithms/search/SearchableMaze.class
/out/production/ATP-Project-PartB/algorithms/maze3D/SearchableMaze3D.class
/out/production/ATP-Project-PartB/Server/Server.class
/out/production/ATP-Project-PartB/Server/ServerStrategyGenerateMaze.class
/out/production/ATP-Project-PartB/Server/ServerStrategySolveSearchProblem.class
/out/production/ATP-Project-PartB/IO/SimpleCompressorOutputStream.class
/out/production/ATP-Project-PartB/IO/SimpleDecompressorInputStream.class
/out/production/ATP-Project-PartB/algorithms/mazeGenerators/SimpleMazeGenerator.class
/out/production/ATP-Project-PartB/algorithms/search/Solution.class
/out/production/ATP-Project-PartB/algorithms/search/StateComparator.class
/out/test/ATP-Project-PartB/algorithms/search/BestFirstSearchTest.class
